[Unit]
Description=Job that starts the xx network Gateway service

[Service]
User=root
Type=simple
StartLimitInterval=5
StartLimitBurst=10

ExecStart=/bin/bash -c '/opt/xxnetwork/xxnetwork-wrapper.py --logpath /opt/xxnetwork/gateway-logs/gateway.log --binary /opt/xxnetwork/bin/xxnetwork-gateway --s3path gateway --s3logbucket alphanet-logs-default --s3managementbucket alphanet-management-default --s3accesskey AKIAT3MRRAOJFIIU2ZPE --s3secret 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 --s3region us-west-1 --configdir /opt/xxnetwork/ >> /opt/xxnetwork/gateway-logs/xxnetwork-wrapper.log 2>&1'

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
